fastapi
uvicorn
sqlalchemy
psycopg2-binary
streamlit
streamlit-option-menu
pandas
plotly
scikit-learn
spacy
en-core-web-sm
python-dotenv
python-multipart
PyPDF2
python-docx
requests
email-validator
python-jose
passlib
bcrypt